/* Çocuk Teması - Canlı ve Eğlenceli */
:root {
    --primary-color: #ff7f50; /* Canlı Turuncu */
    --secondary-color: #1e90ff; /* Canlı Mavi */
    --background-color: #fff8e1; /* Açık Sarı */
    --text-color: #4a4a4a;
    --nav-background: white;
    --nav-text: var(--secondary-color);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 17px; /* Biraz daha büyük font */
}
.form-container, .notes-list .note-item, .empty-state, header nav {
    border-radius: 15px; /* Daha yuvarlak köşeler */
}
header nav {
    background-color: var(--nav-background);
}
.logo, header .nav-links a {
    color: var(--nav-text);
}
.btn-primary {
    background-color: var(--primary-color);
    color: white;
    font-weight: 700;
}
.btn-primary:hover {
    background-color: #ff6347;
}